
*.toc
*.gz
Game Design Document/eternal_fortification_design.run.xml
*.out
Game Design Document/eternal_fortification_design.log
Game Design Document/eternal_fortification_design.bcf
Game Design Document/eternal_fortification_design.aux
